@{
    ViewData["Title"] = "Home Page";
}

    <h3>Total Data:@ViewData["TotalData"]</h3>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Success</th>
                    <th>OverTime</th>
                    <th>TimeUse</th>
                    <th>ImageType</th>
                    <th>ImageDetail</th>

                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {

                            <tr>
                                <td>@Data.Round</td>
                                <td>@Data.Success</td>
                                <td>@Data.OverTime</td>
                                <td>@Data.TimeUse</td>
                                <td>@Data.ImageType</td>
                                <td>@Data.ImageDetail</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>



